# Python
backend/venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3
staticfiles/

# Environment variables
.env
.env.*
!.env.example

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS / Misc
.DS_Store
Thumbs.db